*{
    margin: 0;
   padding : 0;
box-sizing: border-box;
}
header {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='600' preserveAspectRatio='none' viewBox='0 0 1400 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1468%26quot%3b)' fill='none'%3e%3crect width='1400' height='600' x='0' y='0' fill='url(%23SvgjsLinearGradient1469)'%3e%3c/rect%3e%3cpath d='M70 600L670 0L1001.5 0L401.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M540 600L1140 0L1786.5 0L1186.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M1392 600L792 0L465 0L1065 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M897 600L297 0L-351 0L249 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M935.5640985245557 600L1400 135.56409852455573L1400 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M0 600L464.43590147544427 600L 0 135.56409852455573z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1468'%3e%3crect width='1400' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1469'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(15%2c 3%2c 64%2c 1)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1470'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1471'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  height: 100px;
  width: 100%;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: row;
 
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  font-size: 30px;
  position: absolute;
  align-self: center;
  left: 150px;
}

.logo {
  position: absolute;
  width: 5%;
  left: 50px;
  border-radius: 30px;
  align-self:center;
}
ul {
  display: flex;
  gap: 2rem;
  align-self: center ;
position: absolute;
left:58%;
  list-style: none;
 max-width: 30%;
  padding: 0%;
  margin : 0%;
}

ul li {
  display: inline-block;}

ul li a {
  color: antiquewhite;
  text-decoration: none;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0.3s;
}

ul li a:hover {
 transform: scale(1.5);
 color: #F5F6F7;
}
.header-open{
  display: none;
}
.xclose{ display: none;}


section{background-color: #F5F6F7;
    position: relative;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section  h2{
    position: absolute;
    top: 10%;
  align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #1F2667;
   
}
section h4{position: absolute;
  top: 20%;
  align-self:center;
  font-size: 25px;
  color: #9DA3AC;
 
}


.form{
position: absolute;
top: 30%;
align-self: center;
width: 60%;
}

.icon-animation{
  font-size: 50px;
  color: #1F2667;
  position: absolute;
  align-self:center ;
  top:90px;
  
}

.icon1{
  margin-right: 600px;
  margin-left: 0px;
}
.roll-in-right {
	-webkit-animation: roll-in-right 0.8s ease-out 1s both;
	        animation: roll-in-right 0.8s ease-out 1s both;
}


@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.roll-in-left {
	-webkit-animation: roll-in-left 0.8s ease-out 1s both;
	        animation: roll-in-left 0.8s ease-out 1s both;
}


@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

footer {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='600' preserveAspectRatio='none' viewBox='0 0 1400 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1468%26quot%3b)' fill='none'%3e%3crect width='1400' height='600' x='0' y='0' fill='url(%23SvgjsLinearGradient1469)'%3e%3c/rect%3e%3cpath d='M70 600L670 0L1001.5 0L401.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M540 600L1140 0L1786.5 0L1186.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M1392 600L792 0L465 0L1065 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M897 600L297 0L-351 0L249 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M935.5640985245557 600L1400 135.56409852455573L1400 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M0 600L464.43590147544427 600L 0 135.56409852455573z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1468'%3e%3crect width='1400' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1469'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(15%2c 3%2c 64%2c 1)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1470'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1471'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  padding-left: 30px;
 
}

footer h2 {
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}



.contacto {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: whitesmoke;
  
}

.icon{  
  display: flex;
  justify-content:space-evenly;
padding-bottom:20px;
padding-top: 10px;
  font-size: 25px;
  color: whitesmoke;
}



@media screen and (max-width:1024px) {
 
  header h1 {  
    font-size: 20px;
    left: 100px;
  }
  
  .logo {
    width: 6%;
    left: 20px;
  }
  ul {
    gap: 2rem;
  left:43%;
  }

  ul li {
    display: inline-block;
  }  
  .header-open{
    display: none;
  }
  .xclose{ display: none;}
  section h4{width: 90%;}
}
@media screen and (max-width:768px) {

 header{
        height: 450px;
        width: 100%;
      }
      header h1 {left: 50%;
        transform: translate(-50%);
        font-size: 40px;
        text-align: center;
        top: 330px;
      }
      .logo{
        top: 30px;
        left: 50%;
       transform: translate(-50%);
    align-self: center;
        width: 35%;
       
      } 

     
      .xclose{ display:block;}
      .header-open{ display: block;
        position: absolute;
        left: 90%;
        top: 10%;
        font-size: 40px;
        color: white;
      }
      #lateral{display: block;
      background-color: rgba(0, 0, 0, 0.9);
      width: 70%;
      height: 200vh;
      position: fixed;
      top: 0%;
      left: -100%;
      z-index: 100;
      transition: left 1s;
      
      }
      #lateral:target{
        left: 0%;
      
      }
      
      ul{font-size: 30px;
        margin-top: 50px;
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        top:0%;
      }
      .icon-animation{display: none;}
}

    @media screen and (max-width:480px) {
      .logo{
        width: 50%;
      } 
      .header-open{ 
        left: 85%;
      }
      ul{font-size: 20px;
        gap: 2rem;
        top:0%;
      }
      #lateral{
        width: 60%;
        }
    
    section h2{
      font-size: 30px;
    }
    section h4{
      font-size: 15px;
      width: 90%;
      text-align: center;}
    
    }