*{
    margin: 0;
   padding : 0;
box-sizing: border-box;
}
header {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='600' preserveAspectRatio='none' viewBox='0 0 1400 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1468%26quot%3b)' fill='none'%3e%3crect width='1400' height='600' x='0' y='0' fill='url(%23SvgjsLinearGradient1469)'%3e%3c/rect%3e%3cpath d='M70 600L670 0L1001.5 0L401.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M540 600L1140 0L1786.5 0L1186.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M1392 600L792 0L465 0L1065 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M897 600L297 0L-351 0L249 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M935.5640985245557 600L1400 135.56409852455573L1400 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M0 600L464.43590147544427 600L 0 135.56409852455573z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1468'%3e%3crect width='1400' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1469'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(15%2c 3%2c 64%2c 1)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1470'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1471'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  max-width: 100%;
  max-height: 600px;
  background-position: center center;
  position: relative;
 
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  font-size: 70px;
  position: absolute;
  left: 400px;
  bottom: 120px;
}

.logo {
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}
ul {
  position: relative;
  list-style: none;
}

ul li {
  display: inline-block;
}

ul li a {
  color: antiquewhite;
  text-decoration: none;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 12px 93px;
}

ul li a:hover {
  background-color: rgba(8, 12, 51, 0.911);
  border-radius: 20px;
}
.header-open{
  display: none;
}
.xclose{ display: none;}

.backgroundtitulo { 
  height:300px;
  max-width: 100%;
    background-image:url(../images/moladora.jpg);
background-position: center center;
background-size: cover;
background-attachment: fixed;
position: relative;

}
section h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 50px;
color: antiquewhite;
position: absolute;
left: 50%;
transform: translate(-50%);
top: 100px;
}

.buscador{ max-width:100%;
    }
    section{background-color: #F5F6F7;
      max-width: 100%;
   }
    .productos{ padding-left: 20px;
      padding-bottom: 20px;
      padding-top:50px;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1em;
    }
  
.chapa{ 
 background-color:#caccd4;
 max-width: 600px;
 height: 250px;
 border-radius: 50px;
 position: relative;
 transition: all 150ms;
}
.chapa:hover{ transform: scale(1.10);}
.chapa__img{
  left: 30px;
  top: 23px;
  max-width: 190px;
   border-style:groove;

    position: absolute;
}
.chapa__nombre{ font-family: Arial, Helvetica, 
  sans-serif;
  font-size: 15px;
position: absolute;
left:40%;
top: 30%;

  }


.chapalisa{  background-color: #caccd4;
  width: 600px;
  height: 250px;
  border-radius: 50px;;
 position: relative;
 transition: all 150ms;
}
.chapalisa:hover{transform: scale(1.10);
}
.chapalisa__img{ left: 30px;
  top: 23px;
  max-width: 190px;
   border-style:groove;

   position:absolute;
  ;
    
}
.chapalisa__nombre{

    font-family: Arial, Helvetica, 
    sans-serif;
    font-size: 15px;
  position:absolute;
  left:40%;
  top: 30%;

}

.tornillo{ background-color: #caccd4;
  width: 600px;
  height: 250px;
  border-radius: 50px;
 position: relative;
 transition: all 150ms;
}
.tornillo:hover{transform: scale(1.10);}
.tornillo__img{  left: 30px;
  top: 23px;
 max-width: 190px;
  border-style:groove;
  
position: absolute;
}
.tornillo__nombre{
  font-family: Arial, Helvetica, 
      sans-serif;
      font-size: 15px;
  position: absolute;
  left:40%;
  top: 30%;
}
.perfil{background-color:#caccd4;
  width: 600px;
  height: 250px;
  border-radius: 50px;;
 position: relative;
 transition: all 150ms;}

 .perfil:hover{ transform: scale(1.10);}

.perfil__img{left: 30px;
  top: 23px;
  width: 190px;
   border-style:groove;
    position: absolute
}
.perfil__nombre{  font-family: Arial, Helvetica, 
    sans-serif;
    font-size: 15px;
  position:absolute;
  left:40%;
  top: 30%;
}

.hierro{background-color: #caccd4;
  width: 600px;
  height: 250px;
  border-radius: 50px;;
 position: relative;
 transition: all 150ms;

}
.hierro:hover{ transform: scale(1.10);}

.hierro__img{ left: 30px;
  top: 23px;
  width: 189px;
   border-style:groove;
    position: absolute }
    
.hierro__nombre {font-family: Arial, Helvetica, 
  sans-serif;
  font-size: 15px;
position: absolute;
left:40%;
top: 30%;
    }

    
    .caño{ 
     background-color: #caccd4;
     width: 600px;
     height: 250px;
     border-radius: 50px;
     position: relative;
     transition: all 150ms;
    }
    .caño:hover{transform: scale(1.10);}
    
    .caño__img{
      left: 30px;
      top: 23px;
      max-width: 250px;
       border-style:groove;
    
        position: absolute;
    }
    .caño__nombre{  font-family: Arial, Helvetica, 
      sans-serif;
      font-size: 15px;
  position: absolute;
  left:40%;
  top: 30%;
    
      }
      .button1{ position: absolute;
        left: 50%;
        top: 70%;}
        .button2{ position: absolute;
          left: 70%;
          top: 70%;
        }
        .shadow-drop-2-bottom {
                  animation: shadow-drop-2-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }


@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}



    footer { background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='600' preserveAspectRatio='none' viewBox='0 0 1400 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1468%26quot%3b)' fill='none'%3e%3crect width='1400' height='600' x='0' y='0' fill='url(%23SvgjsLinearGradient1469)'%3e%3c/rect%3e%3cpath d='M70 600L670 0L1001.5 0L401.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M540 600L1140 0L1786.5 0L1186.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M1392 600L792 0L465 0L1065 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M897 600L297 0L-351 0L249 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M935.5640985245557 600L1400 135.56409852455573L1400 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M0 600L464.43590147544427 600L 0 135.56409852455573z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1468'%3e%3crect width='1400' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1469'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(15%2c 3%2c 64%2c 1)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1470'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1471'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
      padding-left: 30px;
      padding-top: 10px;
      width: 100%;
    }
  footer h2{
      padding-top: 30px;
    
     font-family:Arial, Helvetica, sans-serif;
  color: antiquewhite; 
  }
    
  
  .formulario { padding-top: 20px;

    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    
  }
  .contacto {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: whitesmoke;
    
  }
  
  
  .icon{  
    display: flex;
    justify-content:space-evenly;
  padding-bottom:20px;
  padding-top: 10px;
    font-size: 25px;
    color: whitesmoke;
  }

  @media screen and (max-width:1024px ) {
    header{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='600' preserveAspectRatio='none' viewBox='0 0 1400 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1468%26quot%3b)' fill='none'%3e%3crect width='1400' height='600' x='0' y='0' fill='url(%23SvgjsLinearGradient1469)'%3e%3c/rect%3e%3cpath d='M70 600L670 0L1001.5 0L401.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M540 600L1140 0L1786.5 0L1186.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M1392 600L792 0L465 0L1065 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M897 600L297 0L-351 0L249 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M935.5640985245557 600L1400 135.56409852455573L1400 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M0 600L464.43590147544427 600L 0 135.56409852455573z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1468'%3e%3crect width='1400' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1469'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(15%2c 3%2c 64%2c 1)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1470'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1471'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
   width: 100%;
    }
     header h1{ 
   font-size: 50px;
   padding-top: 40px;
     }
   
   ul{
    
   }

   .backgroundtitulo { 
    background-image: url(./images/moladora.jpg);
background-position: center center;
background-size: cover;
width: 1000px;
position: relative;

}

section h2{position: absolute;
right:300px;}
section h5 { 
  position: absolute;
  left:35%;
}


section{background-color: #F5F6F7;

width: 100%;
position: relative;

}
.buscador{ padding-top: 20px;
  padding-bottom: 10px;
position: absolute;
} 


    .productos{ padding-left: 20px;
      padding-bottom: 20px;
      padding-top: 30px;
display: grid;
grid-template-columns: 1fr ;
gap: 1em;
  }


  footer { background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='600' preserveAspectRatio='none' viewBox='0 0 1400 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1468%26quot%3b)' fill='none'%3e%3crect width='1400' height='600' x='0' y='0' fill='url(%23SvgjsLinearGradient1469)'%3e%3c/rect%3e%3cpath d='M70 600L670 0L1001.5 0L401.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M540 600L1140 0L1786.5 0L1186.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M1392 600L792 0L465 0L1065 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M897 600L297 0L-351 0L249 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M935.5640985245557 600L1400 135.56409852455573L1400 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M0 600L464.43590147544427 600L 0 135.56409852455573z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1468'%3e%3crect width='1400' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1469'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(15%2c 3%2c 64%2c 1)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1470'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1471'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;
  }
   


  }


  
    @media screen and (max-width:480px) {
      header{
        height: 400px;
        width: 100%;
      }
      header h1 {left: 50%;
        transform: translate(-50%);
        font-size: 40px;
        text-align: center;
        top: 250px;
      }
      .logo{
        margin-left: 50%;
        transform: translate(-50%);
      }

      .xclose{ display:block;}
.header-open{ display: block;
  position: absolute;
  left: 90%;
  top: 10%;
  font-size: 30px;
  color: whitesmoke;
}
#lateral{display: block;
background-color: rgba(0, 0, 0, 0.9);
width: 80%;
height: 200vh;
position: fixed;
top: 0%;
left: -100%;
z-index: 100;
transition: left 1s;

}
#lateral:target{
  left: 0%;

}

ul{font-size: 20px;
  margin-top: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
 
}


.backgroundtitulo{ background-image:url(../images/moladora.jpg);
  width: 100%;
  


}

section h2{width:300px;
  text-align: center;
  font-size: 40px;

}
.productos{
  padding-top: 150px;
  padding-left: 0%;
  width: 100%;

  grid-template-rows: 1fr;
  gap: 1em;
}


.buscador{
  width: 100%;
 padding: 0%;
 
}

.chapa{
  max-width:100%;
  height: 400px;
}

.chapa__img{left: 50%;
  transform: translate(-50%);

}
.chapa__nombre{left: 50%;
  transform: translate(-50%);
  top: 60%;
  font-size: 18px;
}

.chapalisa{width: 100%;
    height: 400px;
  }
.chapalisa__img{left: 50%;
  transform: translate(-50%);}
.chapalisa__nombre{left: 50%;
  transform: translate(-50%);
  top: 60%;
  font-size: 18px;
  width: 90%;
  text-align: center;}

  .tornillo{width: 100%;
    height: 400px;
  }
.tornillo__img{left: 50%;
  transform: translate(-50%);}
.tornillo__nombre{left: 50%;
  transform: translate(-50%);
  top: 60%;
  font-size: 16px;
  width: 90%;
  text-align: center;}

  .perfil{width: 100%;
    height: 400px;
  }
.perfil__img{left: 50%;
  transform: translate(-50%);}
.perfil__nombre{left: 50%;
  transform: translate(-50%);
  top: 60%;
  font-size: 16px;
  width: 90%;
  text-align: center;}

  .hierro{width: 100%;
    height: 400px;
  }
.hierro__img{left: 50%;
  transform: translate(-50%);}
.hierro__nombre{left: 50%;
  transform: translate(-50%);
  top: 60%;
  font-size: 16px;
  width: 90%;
  text-align: center;}

   .caño{width: 100%;
    height: 400px;
  } 
  .caño__img{left: 50%;
    transform: translate(-50%);
    
  }

  .caño__nombre{left: 50%;
    transform: translate(-50%);
    top: 60%;
    font-size: 16px;
  width: 90%;
text-align: center;}

    .button1{ 
      left: 14%;
      top: 85%;}
      .button2{
        left: 53%;
        top: 85%;
      }







.icon{justify-content:center;
  gap: 1rem}


.formulario{display: none;}


       
  }