*{
    margin: 0;
   padding : 0;
box-sizing: border-box;
}
header {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='600' preserveAspectRatio='none' viewBox='0 0 1400 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1468%26quot%3b)' fill='none'%3e%3crect width='1400' height='600' x='0' y='0' fill='url(%23SvgjsLinearGradient1469)'%3e%3c/rect%3e%3cpath d='M70 600L670 0L1001.5 0L401.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M540 600L1140 0L1786.5 0L1186.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M1392 600L792 0L465 0L1065 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M897 600L297 0L-351 0L249 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M935.5640985245557 600L1400 135.56409852455573L1400 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M0 600L464.43590147544427 600L 0 135.56409852455573z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1468'%3e%3crect width='1400' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1469'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(15%2c 3%2c 64%2c 1)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1470'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1471'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    max-width: 100vw;
    max-height: 600px;
    background-position: center center;
    position: relative;
   
  }
  
  header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 70px;
    position: absolute;
    left: 400px;
    bottom: 120px;
  }
  
  .logo {
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  
  
  ul {
    position: relative;
    list-style: none;
  }
  
  ul li {
    display: inline-block;
  }
  
  ul li a {
    color: antiquewhite;
    text-decoration: none;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 93px;
  }
  
  ul li a:hover {
    background-color: rgba(8, 12, 51, 0.911);
    border-radius: 20px;
  }
  .header-open{
    display: none;
  }
  .xclose{ display: none;}
  

section{
    background-color: #F5F6F7;;  
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
   /* position: relative;*/
   }
   .backgroundtitulo{
    height:300px;
    max-width: 100%;
      background-image:url(../images/moladora.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  
}
section h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 50px;
color: antiquewhite;
position: absolute;
left: 50%;
transform: translate(-50%);
top: 100px;
}
section h3{ 
display: flex;
justify-content: center;
width: 100%;
    padding-bottom: 100px; 
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color:#1F2667;
   
}
.textgray{font-size: 25px;
  color: #9DA3AC;
position: absolute;
left: 45%;
padding-top: 70px;
width: 100%;
}
.herreriah3{ 

  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: antiquewhite;
}


  
.techosh3{
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    }
   
   
    .imgcanaletas{display: flex;
    width: 30%;
  gap: 2rem;
margin-left: 33px;
}
    .imgcanaletas__1{width: 100%;
      transition: all 150ms;}
    .imgcanaletas__1:hover{transform: scale(1.1);}

    .imgcanaletas__2{width:100%;
      transition: all 150ms;}
      .imgcanaletas__2:hover{transform: scale(1.1);}

    .imgcanaletas__3{width: 100%;
      transition: all 150ms;}
      .imgcanaletas__3:hover{transform: scale(1.1);}

    .imgherreria{display: flex;
      width: 30%;
    gap: 2rem;
  margin-left: 33px;}
    .imgherreria__1{width: 100%;
      transition: all 150ms;}
      .imgherreria__1:hover{transform: scale(1.1);}
     
    .imgherreria__2{width:100%;
      transition: all 150ms;}
      .imgherreria__2:hover{transform: scale(1.1);}

    .imgherreria__3{ width: 100%;
      transition: all 150ms;}
 .imgherreria__3:hover{transform: scale(1.1);}
  
    .imgtechos{display: flex;
    margin-bottom: 50px;
      width: 30%;
    gap: 5rem;
  }
  
    .imgtechos__1{ margin-left: 55%;
      width: 100%;
      transition: all 150ms;}
      .imgtechos__1:hover{transform: scale(1.1);}

    .imgtechos__2{ width: 100%;
      transition: all 150ms;}
    .imgtechos__2:hover{transform: scale(1.1);}

      .carrousel1{display: none; }
      .carrousel2{display: none;}
      .carrousel3{display: none;}


    footer {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='600' preserveAspectRatio='none' viewBox='0 0 1400 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1468%26quot%3b)' fill='none'%3e%3crect width='1400' height='600' x='0' y='0' fill='url(%23SvgjsLinearGradient1469)'%3e%3c/rect%3e%3cpath d='M70 600L670 0L1001.5 0L401.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M540 600L1140 0L1786.5 0L1186.5 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M1392 600L792 0L465 0L1065 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M897 600L297 0L-351 0L249 600z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3cpath d='M935.5640985245557 600L1400 135.56409852455573L1400 600z' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/path%3e%3cpath d='M0 600L464.43590147544427 600L 0 135.56409852455573z' fill='url(%23SvgjsLinearGradient1471)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1468'%3e%3crect width='1400' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1469'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(15%2c 3%2c 64%2c 1)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1470'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1471'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
          padding-left: 30px;
                    width: 100%; }
                  
 footer h2 {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
  }
                  
  .formulario { padding-top: 20px;
  
    display: flex;
    justify-content: space-around;
     font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
                    
  }
                  
  .contacto {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: whitesmoke;
    
  }
  
  .icon{  
    display: flex;
    justify-content:space-evenly;
  padding-bottom:20px;
  padding-top: 10px;
    font-size: 25px;
    color: whitesmoke;
  }
                  

    

     @media screen and (max-width:480px) {
        header{
          height: 400px;
          width: 100%;
        }
        header h1 {left: 50%;
          transform: translate(-50%);
          font-size: 40px;
          text-align: center;
          top: 270px;
        }
        .logo{
          margin-left: 50%;
          transform: translate(-50%);
        }
        .search{
        display: none;
        }
        .xclose{ display:block;}
        .header-open{ display: block;
          position: absolute;
          left: 90%;
          top: 10%;
          font-size: 30px;
          color: whitesmoke;
        }
        #lateral{display: block;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80%;
        height: 200vh;
        position: fixed;
        top: 0%;
        left: -100%;
        z-index: 100;
        transition: left 1s;
        
        }
        #lateral:target{
          left: 0%;
        
        }
        
        ul{font-size: 20px;
          margin-top: 50px;
          height: 50%;
          display: flex;
          flex-direction: column;
        }

        section{
          width: 100%;
        }
        section h2{
         font-size: 30px;
         text-align: center; 
        }
        .textgray{
        
         left: 0%;
        text-align: center;}

        .imgcanaletas{display: none;}
          .imgherreria{display:none;}
          .imgtechos{display: none;}


        .carrousel1{display: block;
          margin-bottom: 0%;
        
          width: 100%;
        }
          .carrousel2{display: block;
            width: 100%;
            margin-bottom: 0%;
        }
          .carrousel3{display: block;
            width: 100%;
            margin-bottom: 20%;
           
         }
      
        .icon{justify-content:center;
            gap: 1rem}
        
        
          .formulario{display: none;}



          
    }