@media screen and (max-width:1300px ) {

    header{
      background-image: $background-azul;
      width: 1300px;
       }
  
       ul li a{
        padding-left: 50px;}
        section{ background-color: rgba(105, 105, 105, 0.452);
          width: 1300px;}
  
  .parrafo{
     
  position: absolute;
  bottom: 28%;
  left: 15%;
  
  }
  aside{
     background-image: $fondo-rayas;
          width: 1300px;
     }
  
  
  }
  
  @media screen and (max-width:1020px ) {
   header{
  background-image: $background-azul;
  width: 1000px;
   }
    header h1{ 
  font-size: 50px;
  padding-top: 40px;
    }
  
    ul li a{
  
      padding-left: 10px;
   }
  
   .search{ padding-left: 5%;
  padding: 0%;}
  
  aside{position: relative;}
  .presentacion{
  
    font-family:$arial;   
    color: antiquewhite;
      font-size: 100%;
      position: absolute;
      left: 10%;
      padding-top: 10px;
      padding-left: 10px;
      background-color: rgb(11, 11, 48);
      border-radius: 20px;
      height: 70%;
      width: 60%;
   }
  
   aside{
     background-image: $fondo-rayas;
    width: 1000px;
    height: 1000;
    }               
   
    .parrafo{
      font-family: $arial;
    color: antiquewhite;    
  position: absolute;
  bottom: 10%;
  left: 15%;
  font-size:16px;
  
  }
  .imagen-principal{
  position: absolute;
  left: 0%;
  top: 100%;
    border-radius: 30px;
     width: 400px;
     margin-left:10%;
  }
  
     section{ background-color: rgba(105, 105, 105, 0.452);
      width: 1000px;
    margin-top: 30%;}
      
     .chapas__p {
        font-size: 13px;
    }
    .hierros__p {
        font-size: 13px;
  }
  .techos__p {
      font-size: 13px;
  }
  
  .formulario{ 
    display: flex;
    justify-content: space-around;
   }  
   footer { background-image:$background-azul;
    width: 1000px;
    padding-left: 30px;
    padding-top: 10px;
  }
  }
  @media screen and (max-width:768px ){
  
   
    
        header h1{ 
      font-size: 50px;
      padding-top: 40px;
        }
     
      .buscador{
      display: none;
      }
      ul{
        display: none
      }
      aside{position: relative;
    }
      .presentacion{
      
        font-family:$arial;
        color: antiquewhite;
          font-size: 100%;
          position: absolute;
          left: 10%;
          padding-top: 10px;
          padding-left: 10px;
          background-color: rgb(11, 11, 48);
          border-radius: 20px;
          height: 80%;
          width: 60%;
       }
       
        .parrafo{
          font-family: $arial;
        color: antiquewhite;    
      position: absolute;
      bottom: 5%;
      left: 15%;
        }
      
        .imagen-principal{
          width: 500px;
          height: 250px;
          top: 300px;
        }
         section{ background-color: rgba(105, 105, 105, 0.452);
          width: 1000px;
        margin-top: 50%;}
          
         .chapas__p {
            font-size: 20px;
        }
        .hierros__p {
            font-size: 20px;
      }
      .techos__p {
          font-size: 20px;
      }
      
      
  }
  
  
  @media screen and (max-width:600px ){
  
  
  aside{position: relative;}
  
  
  
  div.container-fluid{
    width: 1000px;
  margin:0% ;
  }
  
  .presentacion{
  
   
      font-size: 120%;
      position: absolute;
      left: 5%;
      padding-top: 10px;
      padding-left: 10px;
      background-color: rgb(11, 11, 48);
      border-radius: 20px;
      height: 300px;
      width: 700px;
   }
   
    .parrafo{
      font-size: 20px;
      font-family: Arial, Helvetica, 
    sans-serif;
    color: antiquewhite;    
  position: absolute;
  top:50%;
  left: 15%;
  }
  .imagen-principal{
    position: absolute;
    
    top: 170%;
      border-radius: 30px;
       width: 600px;
       height: 350px;
       margin-left:10%;
     ;}
  
     section{ 
    margin-top: 100%;}
      
     .chapas__p {
        font-size: 20px;
    }
    .hierros__p {
        font-size: 20px;
    }
  .techos__p {
      font-size: 20px;
  }
  .formulario{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }  
  
  }
  
  
  
  @media screen and (max-width:480px ){
  
  
    aside{position: relative;}
    .presentacion{
    
     padding-bottom: 20px;
        font-size: 130%;
       
        height: 140%;
        width: 130%;
     }
     div.container-fluid{
      width: 800px;
    margin:0% ;
    }
  
    .presentacion{
  
   
      font-size: 120%;
      position: absolute;
      left: 5%;
      padding-top: 10px;
      padding-left: 10px;
      background-color: rgb(11, 11, 48);
      border-radius: 20px;
      height: 320px;
      width: 700px;
   }
      .parrafo{
        font-size: 25px;  
    position: absolute;
    top:50%;
    left: 10%;
  text-align: justify;  
  }
    .imagen-principal{
      position: absolute;
    
      top: 170%;
        border-radius: 30px;
         width: 650px;
         height: 530px;
         margin-left:5%;
         padding-bottom: 200px;
        padding-top: 50px;}
    
         section{
          margin-top: 100%;}
            
    }